# Dependencies
node_modules
.bun-cache

# Next.js build output
.next
out

# Playwright / Test outputs
test-results
playwright-report
blob-report

# Environment and Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git and IDE
.git
.github
.idea
.vscode
*.swp
*.log

# Docker
Dockerfile
docker-compose.yml
.dockerignore