{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 120,
  "arrowParens": "always",
  "bracketSameLine": false,
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-embed", "prettier-plugin-sql"],
  "tailwindFunctions": ["twJoin", "twMerge"],
  "embeddedSqlTags": ["sql"],
  "language": "sqlite",
  "keywordCase": "upper"
}
