.uofg-hero {
  background: seashell !important;
}

.uofg-hero > img {
  opacity: 0 !important;
}

.uofg-hero .uofg-hero-content-container * {
  opacity: 0 !important;
}

.uofg-spotlight-card {
  background: seashell !important;
}

.uofg-spotlight-card img {
  opacity: 0 !important;
}

.uofg-spotlight-card span {
  color: transparent !important;
}
